.button {
  display: block;
  border: none;
  background-color: var(--point-color);
  border-radius: 20px;
  padding: 8px;
  color: white;
  width: 150px;
  margin: 0 auto;
  cursor: pointer;
  font-size: 14px;
}

.button:hover {
  background-color: var(--hover-color);
}

.whiteButton {
  display: block;
  border: var(--main-color) 1px solid;
  background-color: white;
  border-radius: 20px;
  padding: 8px;
  color: var(--point-color);
  width: 150px;
  margin: 0 auto;
  cursor: pointer;
  font-size: 14px;
}

.whiteButton:hover {
  background-color: var(--main-color);
  color: white;
  border: var(--main-color) 1px solid;
}
