.Chat {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 320px;
  position: relative;
  background-color: white;
  margin: 0 auto;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.ChatContainer {
  background-color: white;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 35px 5px;
}

.messageInput {
  background-color: var(--border-color);
  border: none;
  height: 30px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
}
