.SendMessage {
  width: 80%;
  padding: 10px;
  margin-left: auto;
  box-sizing: border-box;
  text-align: left;
}

.sMessage {
  background-color: var(--sendMessage-color);
  border-radius: 5px;
  word-wrap: break-word;
  overflow-y: auto;
  padding: 10px;
  margin: 5px 0;
}

.sender,
.sTime {
  font-size: 12px;
  text-align: right;
}
