@import '../App.css';

.Header {
  position: relative;
  display: flex;
  padding: 5px;
  height: 25px;
  background-color: var(--main-color);
  align-items: center;
  justify-content: center;
  color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.float {
  z-index: 999;
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  left: 0;
  margin-left: 10px;
}
