@import '../App.css';

.Header {
  position: relative;
  display: flex;
  padding: 5px;
  height: 25px;
  background-color: var(--main-color);
  color: white;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 999;
}
