.DisplayAnswerList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 70vh;
  margin-top: 10px;
}

.noResponse {
  display: flex;
  flex-direction: column;
  height: 50vh;
}

.noResponsetitle {
  font-size: 20px;
  text-align: center;
}

.noResponsecontent {
  display: flex;
  font-size: 100px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.haveResponse {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  gap: 30px;
}

.haveResponseImg {
  font-size: 80px;
}

.haveResponseTitle {
  font-size: 20px;
}

.listContainer {
  height: 150px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.haveResponseList {
  width: 90%;
  height: 100%;
}

.haveResponseList div {
  cursor: pointer;
  padding: 5px;
}

.correctAnswerer {
  color: var(--point-color);
  background-color: var(--main-color);
}

.owner {
  color: black;
}

.notCorrect {
  color: gray;
}

td {
  border-bottom: 1px solid var(--main-color);
  padding: 5px;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.preBtn,
.nextBtn {
  border: none;
  background-color: var(--main-color);
  border-radius: 100%;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
