@import '../../App.css';

.Finish {
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 50vh;
}

.top {
  text-align: center;
  line-height: 1.6;
}

.top :first-child {
  font-size: 40px;
  animation: fontAnimation 0.8s infinite;
}

.top :nth-child(2) {
  font-size: 25px;
}

.middle {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
}

@keyframes fontAnimation {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
