.QuestionListContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.QuestionList {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 50px;
}

.progressBar {
  width: 90%;
  height: 20px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: var(--border-color);
}

.progress {
  width: 0px;
  height: 20px;
  border-radius: 20px;
  background-color: var(--point-color);
}

.questionContent {
  display: flex;
  flex-direction: column;

  gap: 50px;
  font-size: 20px;
  align-items: center;
  width: 100%;
}

.currentQuestion {
  width: 80%;
  word-break: break-all;
}

.editingContent {
  border: none;
  border-bottom: 1px solid var(--border-color);
  padding: 5px;
}

.questionContent p {
  color: var(--point-color);
}

.Btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}

.modifyBtn {
  border: none;
  background-color: transparent;
  text-align: right;
  padding-bottom: 10px;
}

.questionBtns {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.editedQuestionLength {
  font-size: 12px;
  padding-top: 10px;
  text-align: right;
}
