.welcome {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 50px;
}

.welcome .title {
  font-size: 20px;
  line-height: 1.2;
}

.welcome .title div {
  animation: fontAnimation 1s infinite;
  font-size: 40px;
}

.welcome .section {
  line-height: 1.6;
}

.welcome .section div {
  font-size: 18px;
  line-height: 1.4;
  color: var(--point-color);
  padding: 10px 0px;
  font-weight: bold;
}

.welcome .nameInput {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
}

@keyframes fontAnimation {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
