.WhiteBtn {
  display: block;
  border: var(--main-color) 1px solid;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  color: var(--point-color);
  width: 150px;
  margin: 0 auto;
  cursor: pointer;
}

.WhiteBtn:hover {
  background-color: var(--main-color);
  color: white;
  border: var(--main-color) 1px solid;
}
