.frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.frameChildren {
  color: black;
  padding-top: 40px;
  width: 340px;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
